html {
  scroll-behavior: smooth;
}
header {
  margin-top: 0.5em;
}
body {
  margin: 0px;
}
@font-face {
  font-family: "Jumps Winter";
  src: url("../fonts/JumpsWinter.woff2") format("woff2"),
    url("../fonts/JumpsWinter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Luckywish";
  src: url("../fonts/Luckywish.woff2") format("woff2"),
    url("../fonts/Luckywish.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("../fonts/AtkinsonHyperlegibleNextVF-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #fffcf6;
  font-family: "Atkinson", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
img {
  width: 100%;
}
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {
  z-index: 99;
  left: 20px;
  top: 20px;
  width: auto;
  height: auto;
  background-color: #375f30;
  border: 2px solid #23581c;
  margin: 0px auto 15px auto;
  color: white;
  padding: 1em;
  border-radius: 25px;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.22);
}
main {
  padding: 30px;
  margin-bottom: 6em;
}
footer {
  background-color: #375f30;
  color: white;
  font-family: "Jumps Winter", sans-serif;
  padding: 2em;
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
nav > a {
  color: #375f30;
}
/* .socials a:hover {
  color: #be79b4;
} */
h1 {
  font-family: "Jumps Winter", sans-serif;
  font-weight: bold;
  font-size: 3em;
  line-height: 90%;
  text-align: center;
  margin: 0.5em auto 0.3em;
  color: #375f30;
}
h2 {
  font-family: "Jumps Winter", sans-serif;
  color: #375f30;
  font-size: 2.2em;
  text-align: center;
}
#about h2,
#resume h2 {
  margin-top: 2em;
}
.header-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fffcf6;
  top: 0px;
  padding: 20px 30px 20px 30px;
  z-index: 98;
  position: sticky;
  align-items: center;
}
a {
  text-decoration: none;
}
nav {
  font-family: "Jumps Winter", sans-serif;
  margin-top: 10px;
  display: none;
  grid-area: 2 / 1 /2 / span 2;
}
nav * {
  display: block;
  padding: 14px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}
nav *:hover {
  font-size: 1.5em;
  font-weight: bolder;
  color: #be79b4;
}

.bottom_logo {
  color: white;
  padding: 14px;
  font-size: 1.4em;
  font-family: "Jumps Winter", sans-serif;
  font-weight: bold;
}
footer a:hover {
  font-size: 1.2em;
  font-weight: bolder;
}
.bottom_logo:hover {
  font-size: 1.6em;
}
.wordmark {
  margin: 0;
  font-family: "Jumps Winter", sans-serif;
  font-weight: bold;
  font-size: 2.4em;
  color: #375f30;
}
.wordmark:hover {
  font-weight: bold;
  font-size: 2.6em;
}
.card_grid {
  display: block;
}
.logo {
  width: 70%;
  max-width: 400px;
  align-self: center;
}
.logo:hover {
  cursor: pointer;
}
.logo.animate {
  animation: bounce 1.4s ease-in-out;
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* base css for .card gotten from https://uiverse.io/SteveBloX/dangerous-warthog-85  */
.card {
  height: auto;
  background-color: rgba(255, 255, 255, 0.58);
  background: linear-gradient(#a6da9e38, rgba(255, 255, 255, 0.58) 110%);
  border: 2px white solid;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.22);
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 40px 0px;
  padding: 20px;
}

.card:hover {
  border: 2px solid #375f30;
  background-color: #2d962321;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95);
}
* {
  box-sizing: border-box;
}

/* code from https://codepen.io/JoseRosario/pen/BWqMwK */
.wrapper-menu {
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: end;
  cursor: pointer;
  transition: scale 0.5s;
  transition: transform 330ms ease-out;
  border: none;
  background: none;
}
.wrapper-menu:hover {
  transform: scale(1.05);
}
.wrapper-menu:active {
  transform: scale(0.95);
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

#hero p:first-of-type {
  font-size: 1.2em;
  font-weight: 300;
  font-family: "Atkinson", sans-serif;
}
.line-menu {
  background-color: black;
  border-radius: 8px;
  width: 100%;
  height: 5px;
}
button {
  cursor: pointer;
}
.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(12px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}
#cc-logo{
  padding:3em;
  background-image: radial-gradient(circle, #7db38130 -30%, rgba(255, 255, 255, 0) 50%)
}
.open .line-menu.end {
  transform: rotate(-90deg) translateX(-12px);
}
.card img {
  margin: 1em 0;
  width: 50%;
}
.card ul {
  padding: 0;
  margin: 0;
}

main {
  margin-bottom: 5vw;
}
.card ul li,
.skills li,
.tools li {
  list-style: none;
  display: inline-block;
  border: 1px solid;
  padding: 0.5em;
  border-radius: 25px;
  font-size: 0.8em;
  margin-bottom: 1em;
}
.tools {
  margin-top: -10px;
}
div:has(> .skills) {
  margin-top: 0.5em;
}
.skills {
  margin: 0px;
}
.skills li,
.tools li {
  font-size: 1em;
}
.skills,
.tools {
  padding: 0;
  text-align: center;
}
.card p {
  margin-top: 0;
}
h3 {
  font-size: 24px;
}
.about_content img {
  width: 50%;
  max-width: 400px;
  border-radius: 50%;
  align-self: center;
}
.about_content h3 {
  color: #375f30;
  text-align: center;
  font-weight: bold;
  margin: 1.5em 0px 0.5em 0px;
}
.about_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workex * {
  margin: 0.5em 0;
}
.workex {
  margin: 1em 0;
}
hr {
  margin: 4em 0px;
}
h3 {
  text-align: center;
}
.resumebutton {
  padding: 1em;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  background-color: #294724;
  border: 2px solid #243f1e;
  margin: 10px auto 30px auto;
  transition: all 0.5s;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.22);
}
section {
  display: flex;
  flex-direction: column;
}
#resume section {
  display: block;
}
.resumebutton:hover {
  transform: scale(1.05);
}

.resumebutton:active {
  transform: scale(0.95);
}
.dark-mode .resumebutton {
  background-color: #15642040;
  background: linear-gradient(#15642050, rgba(5, 31, 3, 0.562) 110%);
}
#resume,
#about {
  margin-top: 40px;
}
.scroll-to-top {
  padding: 10px;
  color: white;
  background-color: #294724;
  border: 2px solid #243f1e;
  border-radius: 100%;
  align-items: center;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.22);
  z-index: 99;
  position: fixed;
  bottom: 80px;
  right: 20px;
  transition: all 0.5s;
}
.scroll-to-top:hover {
  transform: scale(1.05);
}
.scroll-to-top:hover {
  transform: scale(1.05);
}

.dark-mode-button {
  padding: 10px;
  color: white;
  background-color: #294724;
  border: 2px solid #243f1e;
  border-radius: 100%;
  align-items: center;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.22);
  z-index: 99;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.5s;
}
.left-align {
  text-align: center;
}
.right-align {
  text-align: center;
}
.dark-mode h1,
.dark-mode h2,
.dark-mode .about_content h3 {
  color: #48b843;
}
.dark-mode-button:hover {
  transform: scale(1.05);
}
.dark-mode-button:active {
  transform: scale(0.95);
}
.dark-mode {
  background-color: #14161f;
  color: #f7f2f2;
}
.dark-mode .header-menu,
.dark-mode .wordmark {
  background-color: #14161f;
  color: #48b843;
}
.dark-font {
  color: #14161f;
}
.dark-mode .line-menu {
  background-color: #48b843;
}
.dark-mode .bottom_logo {
  background-color: none;
  color: white;
}
.dark-mode .header-menu nav a {
  background-color: #14161f;
  color: #48b843;
}
.dark-mode .header-menu nav a:hover,
.dark-mode .wordmark:hover{
  background-color: #14161f;
  color: #be79b4;
}
.dark-mode .card {
  background-color: #15642040;
  background: linear-gradient(#15642050, rgba(5, 31, 3, 0.562) 110%);
  border: 3px solid #0e250b;
  color: #f7f2f2;
}
.dark-mode button {
  background-color: #375f30;
  border: 3px solid #1e4b18;
}
.dark-mode .card:hover {
  border: 2px solid #07380a;
  background-color: #15642070;
  transform: scale(1.05);
}
.socials {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.socials a {
  padding: 14px;
  color: white;
}
.project img {
  margin-top: 2em;
}
.project h2 {
  margin: 0;
}
.project-info p {
  text-align: center;
}
.project-info h3 {
  font-size: 1.5em;
}
.info h3 {
  font-size: 1.3em;
}
.project-info h3 {
  font-size: 1em;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (min-width: 576px) {
  h1 {
    font-size: 5em;
  }
  .project img {
    display: block;
    width: 70%;
    margin: 2em auto 0px auto;
  }
  .project h1 {
    font-size: 4em;
  }
  .intro {
    display: block;
    margin: 0 auto;
  }

  .skills {
    text-align: left;
  }
  .project-info div {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 5px;
  }
}
@media screen and (min-width: 768px) {
  .card_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .card {
    margin: 0px;
  }
  #hero {
    text-align: center;
  }
  footer {
    padding: 1vw 5vw;
  }
  main,
  header {
    margin: 0vw 5vw;
  }
  .twogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .twogrid hr {
    display: none;
  }
  footer {
    flex-direction: row;
  }
  .socials {
    display: block;
  }
  .wrapper-menu {
    display: none;
  }

  nav {
    display: block;
    justify-self: end;
    grid-area: 1 / 2 / 1 / 2;
  }
  nav a {
    display: inline;
    width: auto;
  }
  #overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    align-items: center;
  }
  .project section h2 {
    grid-area: 1 / 1 / 1 / 2 span;
  }
  #overview img {
    grid-area: 2/1/2/1;
  }
  .span {
    grid-area: 3 / 2 span;
  }
  .info * {
    text-align: center;
  }
  #reflection,
  #outcomes > h2 {
    margin-bottom: 0.5em;
  }
  .project-info h3,
  .project-info p {
    margin: 0.5em;
  }
  .project-info {
    margin-top: 2em;
  }
  .info {
    display: flex;
    align-items: center;
  }
  .info img {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .card_grid {
    gap: 40px;
  }
  footer {
    padding: 1vw 10vw;
  }
  .left-align {
    text-align: left;
  }
  .right-align {
    text-align: right;
  }
  main,
  header {
    margin: 0vw 10vw;
  }
  * {
    font-size: 16px;
  }
  #hero {
    height: 83vh;
    margin: 0px 3vw;
    text-align: left;
    flex-direction: row;
    align-items: center;
  }
  h1 {
    text-align: left;
  }
  #research,
  #iteration,
  #mapping {
    display: grid;
    gap: 2em;
    align-items: center;
  }
  #research,
  #iteration,
  #mapping > img {
    width: 100%;
  }
  #mapping img {
    grid-area: 3 / 1;
  }
  #mapping div:nth-child(2) {
    grid-area: 2 / 2 span;
  }
}

@media screen and (min-width: 1200px) {
  .about_content {
    flex-direction: row;
    gap: 4em;
  }
  div:has(> .skills) {
    margin-top: 0px;
  }
  .skills li{
    margin-bottom: .5em;
  }
  .about_content h3 {
    text-align: left;
  }
  .about_content img {
    text-align: left;
  }
  #hero {
    margin: 0px 7vw;
  }
  #outcomes img {
    width: 50%;
    margin-bottom: 2em;
  }
  .project-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .project-info div:nth-child(2) {
    justify-self: right;
  }
  .project-info div:nth-child(4) {
    justify-self: right;
  }
  .tools {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1400px) {
  .card_grid {
    gap: 50px;
  }
  footer {
    padding: 1vw 20vw;
  }
  main,
  header {
    margin: 0vw 20vw;
  }
}
@media screen and (min-width: 1900px) {
  * {
    font-size: 18px;
  }
  footer {
    padding: 1vw 20vw;
  }
  main,
  header {
    margin: 0vw 20vw;
  }
}
