body {
  background-color: #f5f5f5;
  font-family: "Google Sans Code", monospace;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {
  z-index: 99 ;
  left: 20px;
  top: 20px;
  width: auto;
  height: auto;
  background-color: #4172db;
  border: 2px solid #2b57ce;
  margin: 0px auto 15px auto;
  color: white;
  padding: 1em;
  border-radius: 25px;  
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.22);
}

main {
  padding: 30px;
}
footer {
  padding: 30px;
}
h1 {
  font-family: "Sour Gummy", monospace;
  font-weight: bold;
  font-size: 70px;
  line-height: 95%;
  text-align: center;
  margin-top: 0.5em;
}
h2 {
  font-family: "Sour Gummy", monospace;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
img {
  max-width: 300px;
  height: auto;
}
.header-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(245, 245, 245);
  top: 0px;
  padding: 20px 30px 20px 30px;
  z-index: 98;
  position: sticky;
  align-items: center;
}
nav {
  margin-top: 10px;
  display: none;
  grid-area: 2 / 1 /2 / span 2;
}
nav * {
  display: block;
  padding: 14px;
  text-align: center;
  font-size: 18px;
}
nav *:hover {
  font-size:20px;
  font-weight: bolder;
}
.wordmark {
  margin: 0;
  font-family: "Sour Gummy", monospace;
  font-weight: bold;
  font-size: 34px;
}
.card_grid {
  display: block;
}
.logo {
  width: 70%;
  max-width: 400px;
  align-self: center;
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* base css for .card gotten from https://uiverse.io/SteveBloX/dangerous-warthog-85  */
.card {
  width: 1fr;
  height: auto;
  background: rgba(255, 255, 255, 0.58);
  border: 2px white solid;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.22);
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 40px 0px;
  padding: 20px;
  text-decoration: none;
}

.card:hover {
  border: 2px solid #2b57ce;
  background-color: #366af815;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95);
}
* {
  box-sizing: border-box;
}

/* code from https://codepen.io/JoseRosario/pen/BWqMwK */
.wrapper-menu {
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: end;
  cursor: pointer;
  transition: scale 0.5s;
  transition: transform 330ms ease-out;
  border: none;
  background: none;
}
.wrapper-menu:hover{
	transform: scale(1.05);
}
.wrapper-menu:active {
  transform: scale(0.95);
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}


.line-menu {
  background-color: black;
  border-radius: 8px;
  width: 100%;
  height: 5px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(7px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-7px);
}

.card img {
  margin: 1em 0;
  width: 50%;
}
.card ul {
  padding: 0;
  margin: 0;
}
.card ul li {
  list-style: none;
  display: inline-block;
  border: 1px solid teal;
  padding: 0.5em;
  border-radius: 10px;
  font-size: 0.8em;
  margin-bottom: 1em;
}
.card p {
  margin-top: 0;
}
h3{
  font-size: 24px;
}
#about img {
  border-radius: 50%;
  align-self: center;
}
#about h3{
  text-align: center;
  font-weight: bold;
  margin: 1em 0px .5em 0px;
}
.workex * {
  margin: 0.5em 0;
}
.workex {
  margin: 1em 0;
}
hr {
  margin: 2.5em;
}
h3{
	text-align: center;
}
.resumebutton {
  padding: 1em;
  border-radius: 25px;
  color:white;
  background-color: #4172db;
  border: 2px solid #2b57ce;
  margin: 0px auto 15px auto;
  transition: all 0.5s;
  font-family: "Google Sans Code", monospace;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.22);
}
section {
  display: flex;
  flex-direction: column;
}
.resumebutton:hover {
  transform: scale(1.05);
}

.resumebutton:active {
  transform: scale(0.95);
}

.scroll-to-top {
  padding: 10px;
  color: white;
  background-color: #4172db;
  border: 3px solid #2b57ce;
  border-radius: 100%;
  align-items: center;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.22);
  z-index: 99;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.5s;
}
.scroll-to-top:hover {
  transform: scale(1.05);
}