
@font-face {
    font-family: 'Jumps Winter';
    src: url('fonts/JumpsWinter.woff2') format('woff2'),
        url('fonts/JumpsWinter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luckywish';
    src: url('fonts/Luckywish.woff2') format('woff2'),
        url('fonts/Luckywish.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson';
    src: url('fonts/AtkinsonHyperlegibleNextVF-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

